<form class="{{if (eq side "right") "float-right"}}">
  {{#each-in motors as |name motor|}}
    <div class="row">
      <div class="columns">
        <div class="row">
          <div class="columns">
            <label for="mc_{{side}}_{{name}}_target">{{{motor.label}}}</label>
          </div>
          <div class="columns shrink">
            <a {{action "homeMotor" name on="click"}} class="button tiny" disabled={{not conn.txOpen}}>
              Home
            </a>
          </div>
        </div>
        <div class="row">
          <div class="columns small-6">
            <input type="number" name="{{name}}" id="mc_{{side}}_{{name}}_target"
                   min="{{motor.min}}" max="{{motor.max}}"
                   value="{{motor.target}}" step="{{motor.step}}"
                   onchange={{action "setMotor"}} disabled={{not conn.txOpen}} />
          </div>
          <div class="columns small-6 align-self-bottom">
            <input type="number" step="{{motor.step}}" value="{{motor.current}}" disabled/>
          </div>
        </div>
      </div>
    </div>
  {{/each-in}}
</form>